.lc-container-filter{
  display: flex;
  column-gap: 30px;
  @media screen and (max-width: 768px) {
    display: block;
  }
}
.lc-control-filters{
  width: 20%;
  @media screen and (max-width: 768px) {
    width: 80%;
    margin: 0 auto;
  }
  >div{
    margin-bottom: 10px;
  }
}
.lc-flex-content{
  display: flex;
  gap: 2px;
}
.lc-container-list-items{
  width: 80%;
  margin: 0 auto 30px;
  min-height: 460px;
  .lc-list-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    .lc-items{
      position: relative;
      width: 31%;
      background: white;
      padding: 22px 22px 53px 22px;
      border-radius: 10px; 
      @media screen and (max-width: 980px) {
        width: 47%;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
  button{
    position: absolute;
    left:0;
    bottom: 10px;
    background: transparent;
    border: 0;
    text-align: center;
    width: 100%;
    margin: 10px auto;
    text-decoration: underline;
    cursor: pointer;
    &:hover{
      text-decoration: none;
    }
  }
}
.lc-tag-detail{
  display: flex;
  &.sector{
    color: #E05C4A ;
  }
  &.tipo{
    color: #1AA19A;
  }
  span{
    margin-right: 3px;
    font-size: 16px;
    line-height: 20px;
  }
}
.wrapper-modal{
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ffffffb0;
  @media screen and (max-width: 768px) {
    top:81px;
    width: 100%;
    overflow-y: scroll;
    align-items: flex-start;
  }
}
.lc-content-modal{
  position: relative;
  min-height: 403px;
  max-width: 740px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 48px 40px;
  background: white;
  z-index: 99;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  @media screen and (max-width: 768px) {
    // height: calc(100% - 85px);
  }
  .contenido{
    height: 245px;
    overflow-y: scroll;
    @media screen and (max-width: 768px) {
      max-height: auto;
      height: auto;
    }
  }
}
.title-post{
  font-size: 22px;
  line-height: 1.3rem;
  letter-spacing: .2px;
  font-weight: 700;
  margin: 10px 0
}

.lc-content-main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .content-block{
    width: 45%;
    &.terminos{
      flex-direction: column;
      display: flex;
      justify-content: center;
    }
  }
  @media screen and (max-width: 768px) {
    display: block;
    .content-block{
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    display: block;
  }
  
}
.lc-close-modal{
  position: absolute;
  top: 10px;
  right: 10px;
}
.icon-close{
  background-color: transparent;
  border: 0;
  font-size: 27px;
  transform: rotate(45deg);
  font-weight: 100;
  cursor: pointer;
  &:hover{
    color: grey;
  }
}
.title-fields{
  font-weight: 700;
  font-size: 16.87px;
  line-height: 21px;
  margin: 10px 0 0;
  letter-spacing: 0;
}
.logo {
  max-height: 85px;
}
.content_post {
  font-size: 15px;
  line-height: 22px;
}
.info-content {
  p{
    font-size: 15px;
    line-height: 23px;
    padding-bottom: 7px;
    
  }
  a{
    font-size: 15px;
    margin-top: 11px;
    display: block;
    &:hover{
      text-decoration: underline;
    }
  }
}

// Selected

.lc-select-container{
  .lc-select__control{
    font-size: 14px;
    border-color: #1AA19A;
    box-shadow: 0 0 0 0 #1AA19A;
    border-radius: 0;
    &:hover{
      border-color: #1AA19A !important
    }
  }
  .lc-select-sector__control{
    font-size: 14px;
    border-color: #E05C4A;
    box-shadow: 0 0 0 0 #1AA19A;
    border-radius: 0;
    &:hover{
      border-color: #E05C4A !important
    }
  }
}
.lc-select__option{
    font-size: 14px !important;
    &.lc-select__option--is-selected{
      font-size: 14px;
      background-color: #1AA19A;
    }
    &.lc-select__option--is-focused{
      background-color: #3ca59fbf;
      color: white
    }
  }
  .lc-select-sector__option{
    font-size: 14px !important;
  &.lc-select-sector__option--is-selected{
    background-color: #E05C4A;
  }
  &.lc-select-sector__option--is-focused{
    background-color: #E05C4A;
    color: white
  }
}

.lc-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5px;
  @media screen and (min-width: 980px) {
    left: 115px;
    position: relative;
  }
  .lc-button-page {
    padding: 10px;
    background: white;
    border: 0;
    border:1px solid white;
    cursor: pointer;
    &:hover{
      background-color: transparent;
    }
  }
}
.lc-lin-map{
  color:rgba(0, 0, 0, 0.7);
  text-decoration: underline;
}

.lc-loader-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
      font-size: 15px;
    }
}


// snippet loader css
.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: scale(0.8);
}
.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #c35d3b;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
